body{
    background-image:url(https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-simple-red-texture-gradient-image_7805.jpg);
    background-size: cover;
    background-color: aqua;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    font-size:x-large;
}   
h1{
    color: black;
}
